body {
  text-align: center;
  background-color: #011F3F;
}

h3{
  text-align: left;
  margin-left: 25px;
}

li{
  text-align: left;
  padding-right: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  2%;
  color: #FEF2BF;
}

.container {
  display: inline-block;
  width: 50%;
  margin: auto;
  height: 100%;
  float: left;
}

.right{
  width: 35%;
  display: inline-block;
  background-color: #daa6e1;
  margin: 20px 50px 0 auto;
  height: 100%;
  float: right;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 10.5rem;
  width: 10.5rem;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
